.imageContainer {
  width: 100%;
  height: 250px;
  position: relative;
  object-fit: scale-down;
  /* must be relative because setting layout="fill" to an image component requires the parent to be relative https://nextjs.org/docs/basic-features/image-optimization*/
}
